.im-anchor {
  margin: 0;
  padding: 0;
  width: 180px;
  height: fit-content;
  font-size: 14px;
  border: none;
  outline: none;
  overflow: auto;
  color: var(--im-gray-color-8);
  &__label {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 18px;
    color: var(--im-gray-color-10);
  }
  &__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: var(--im-gray-color-5);
  }

  &__bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 0;
    background-color: var(--im-primary-color-8);
    content: '';
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  &__list {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    border: none;
    overflow: visible;
    height: 100%;
    min-height: fit-content;
  }
  &__item {
    padding: 0 16px;
    margin: 8px 0;
    min-height: 22px;
    font-size: 14px;
    font-size: inherit;
    cursor: pointer;
    line-height: 22px;
    position: relative;

    &:hover {
      color: var(--im-primary-color-8);
    }

    &.is-active {
      color: var(--im-primary-color-8);
      .im-anchor__bar {
        opacity: 1;
      }
    }
  }
}
