// 重置样式
p,
div,
ul,
ol,
dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol,
dl {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: top;
}
input,
textarea {
  outline: none;
  border: none;
}

// 滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--im-scrollbar-track-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--im-scrollbar-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--im-scrollbar-hover-color);
}
