// 重置样式
p,
div,
ul,
ol,
dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol,
dl {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: top;
}
input,
textarea {
  outline: none;
  border: none;
}
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  // 移动端点击高亮颜色
  -webkit-tap-highlight-color: transparent;
}
// 滚动条
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--im-scrollbar-color);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--im-scrollbar-hover-color);
}
// 修改箭头样式
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  overflow: auto;
  height: 100%;
  width: 100%;
}
